<div id="<%= dom_id membership %>">
  <div>
    <strong>Beer club:</strong>
    <%= membership.beer_club_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= membership.user_id %>
  </div>

</div>
