<div id="<%= dom_id beer_club %>">
  <div>
    <strong>Name:</strong>
    <%= beer_club.name %>
  </div>

  <div>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </div>

  <div>
    <strong>City:</strong>
    <%= beer_club.city %>
  </div>
</div>
