<div id="<%= dom_id user %>">
  <div>
    <strong>Username:</strong>
    <%= user.username %>
  </div>

  <div>
    <strong>Beer clubs:</strong>
    <ul>
      <% user.beer_clubs.each do | club | %>
        <li><%= link_to club.name, club %></li>
      <% end %>
    </ul>
  </div>

</div>
