<div id="<%= dom_id brewery %>">
  <div>
    <strong>Name:</strong>
    <%= link_to "#{brewery.name}", brewery %>
  </div>

  <div>
    <strong>Year:</strong>
    <%= brewery.year %>
  </div>

</div>
