<div id="<%= dom_id beer %>">
  <div>
    <strong>Name:</strong>
    <%= beer.name %>
  </div>

  <div>
    <strong>Style:</strong>
    <%= beer.style %>
  </div>

  <div>
    <strong>Brewery:</strong>
    <%= beer.brewery_id %>
  </div>

</div>
